// src/components/Navbar/navbar.scss

.navbar {
  grid-area: navbar;
  height: 100px;
  background-color: #0e3f60;
  text-align: center;
  align-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #2a814d;
}
